@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 0 25px 15px;
}

header p {
  width: 400px;
  margin: 0 auto;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);  
}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.add-item {
  border-radius: 2px;
  border-top: 3px solid #103D5D;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;  
  width: 25%;
  margin-right: auto;
}

.display-item {
  width: 65%;
  margin-left: 50px;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 100%;  
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  width: calc(50% - 50px);
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: #103D5D;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

button {
  border-radius: 2px;
  min-width: 88px;
  background-color: #FA6900;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 10px 6px;
}

.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

.App-header {
  background-color: #38abb4;
  height: 180px;
  padding: 10px;
  color: white;
}
.App-background {
  background-color: #38abb4;
  width: 100%;
  bottom:0px; 
  top: 0px; 
  height: 840px;

}

.header {
  color: #fff;
  background-color: #3b5998;
  box-shadow: 0 5px 3px -3px #3b6698;
}

.header2 {
  color: #fff;
  background-color: #dd4b39;
  box-shadow: 0 5px 3px -3px #d85645;
}

.App-logo2 {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}

button {
  border-top: solid 5px rgba(255,255,255);
  border-right: solid 5px rgba(255,255,255);
  border-bottom: solid 2px rgba(255,255,255);
  border-left: solid 5px rgba(255,255,255);
  padding: 9px 12px;
  margin: 0 2px;
  border-radius: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #38abb4;
  color: #fff;
  font-weight: 100; 
  float: center;
          box-shadow: 0 5px 3px -3px #38abb4;
}
.effect1{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

button2 {
  border-top: solid 5px rgba(255,255,255);
  border-right: solid 5px rgba(255,255,255);
  border-bottom: solid 2px rgba(255,255,255);
  border-left: solid 5px rgba(255,255,255);
  padding: 9px 12px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #3B5998;
  color: #fff;
  font-weight: 100; 
  float: center;
}

button:active {
  outline: none;
}
button2:active {
  outline: none;
}
.weather__info {
  padding: 10px 15px;
  width: 60%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  padding: 10px 15px;
  color: #000000;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.title-container__title {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}

.weather__value {
  color: #38abb4;
  font-weight: 200;
}

.weather__error {
  color: #000000;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

form input{
  float: left;
  width: 38%;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 0 1%;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  font-size: 18px;
}


